.card-header__text__top a:after {content: "navigate_next";font-family: argue-icons;font-size: 1.2em;line-height: .6em;vertical-align: middle;padding-left: .1em;opacity: .3;transition: opacity ease .3s;position: relative;bottom: .05em}
.card-header__text__top a:hover:after {opacity: 1}
:root {--arg-card-border-color: rgba(212, 212, 218, 0.8);--arg-card-border-radius-size: 2px;--arg-card-bg-color: #fff;--arg-card-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);--arg-card-header-icon-bg-on-card: rgba(0, 0, 0, 0.3);--arg-card-border-size: 1px;--arg-base-text-default-color: #000;--arg-card-header-text-bot-color: #777;--arg-card-metadata-color: #777}
.card {display: flex;flex-direction: column;align-items: stretch;justify-items: flex-start;box-sizing: border-box;padding: 0;border: var(--arg-card-border-size, 1px) solid var(--arg-card-border-color, rgba(212, 212, 218, .8));border-radius: var(--arg-card-border-radius-size, 2px);background-color: var(--arg-card-bg-color, #fff);box-shadow: var(--arg-card-box-shadow, 0 4px 10px rgba(0, 0, 0, .1))}
.card-list {margin-bottom: 2rem}
.card:target {outline: 2px dotted transparent;box-shadow: 0 0 0 2px #fff, 0 0 0 5px #26a769;z-index: 1}
.card__image img {border-radius: 6px 6px 0 0}
@media (min-width: 588px) {
  .card__image img {border-radius: 6px 0 0 6px}
}
.card__content-wrapper {background-color: var(--arg-card-content-background-color, transparent);border-radius: 0 0 4px 4px;display: flex;flex-direction: column;flex-grow: 1;flex-shrink: 0;padding: 1.5rem}
.card__metadata {margin: .25rem 0;color: var(--arg-card-metadata-color, #777);font-family: var(--arg-typo-subtitle2-font-family, var(--arg-typo-font-family, Roboto, sans-serif));font-size: var(--arg-typo-subtitle2-font-size, .875rem);line-height: var(--arg-typo-subtitle2-line-height, 1.25em);font-weight: var(--arg-typo-subtitle2-font-weight, 500);letter-spacing: var(--arg-typo-subtitle2-letter-spacing, .0071428571em)}
.card__prevent_nesting .card {margin-left: -1.5rem;margin-right: -1.5rem;box-shadow: none;border-left: 0;border-right: 0}
.card__prevent_nesting_top .card {margin-top: -1.5rem;border-top: 0}
.card-header {display: flex;flex-direction: row;align-items: center;justify-content: flex-start;margin: -1.5rem -1.5rem .5rem;padding: .8rem 1.5rem;border-bottom: 1px solid var(--arg-card-border-color, rgba(212, 212, 218, .8))}
.card-header__icon {display: flex;justify-content: center;align-items: center;padding: 0;width: 48px;height: 48px;flex: 0 0 48px;margin-right: 1rem;position: relative;text-decoration: none;border-radius: 50%}
.card-header__icon.argue-icon {font-size: 34px}
.card-header__icon:before {content: "";display: block;position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);left: 0;width: 48px;height: 48px;background-color: var(--arg-card-header-icon-bg-on-card, rgba(0, 0, 0, .54));z-index: 0;border-radius: 50%}
.card-header__user-img {display: flex;justify-content: center;align-items: center;padding: 0;width: 48px;height: 48px;flex: 0 0 48px;margin-right: 1rem;position: relative;text-decoration: none;border-radius: 3px}
.card-header__user-img.argue-icon {font-size: 34px}
.card-header__user-img:before {content: "";display: block;position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);left: 0;width: 48px;height: 48px;background-color: var(--arg-card-header-icon-bg-on-card, rgba(0, 0, 0, .54));z-index: 0;border-radius: 50%}
.card-header__user-img img {display: block}
.card-header__text {display: flex;flex-direction: column;justify-content: center;align-items: flex-start}
.card-header__text a, .card-header__text a:active, .card-header__text a:focus, .card-header__text a:hover {cursor: pointer;color: inherit;text-decoration: none}
.card-header__text__top {margin: 0;font-family: var(--arg-typo-h6-font-family, var(--arg-typo-font-family, Roboto, sans-serif));font-size: var(--arg-typo-h6-font-size, 1.125rem);line-height: var(--arg-typo-h6-line-height, 1.25em);font-weight: var(--arg-typo-h6-font-weight, 500);letter-spacing: var(--arg-typo-h6-letter-spacing, .0125em)}
.card-header__text__top a, .card-header__text__top a:active, .card-header__text__top a:focus, .card-header__text__top a:hover {text-decoration: none}
.card-header__text__bot {margin: 0;color: var(--arg-card-header-text-bot-color, #777);font-family: var(--arg-typo-subtitle2-font-family, var(--arg-typo-font-family, Roboto, sans-serif));font-size: var(--arg-typo-subtitle2-font-size, .875rem);line-height: var(--arg-typo-subtitle2-line-height, 1.25em);font-weight: var(--arg-typo-subtitle2-font-weight, 500);letter-spacing: var(--arg-typo-subtitle2-letter-spacing, .0071428571em)}
.card__content-item {margin-top: 0;margin-bottom: 1rem}
.card__content-item__row {display: flex;flex-direction: row;flex-wrap: wrap;padding: 0;margin: -1rem -1rem 1rem}
.card__content-item__row > * {flex: 1 1 auto;margin: 1rem}
.card__content-item__extend {position: relative;display: flex;flex-direction: column;justify-content: flex-start;margin-left: -1.5rem;margin-right: -1.5rem;padding: 0 1.5rem;overflow: hidden;transition: height ease-in-out .4s}
.card__content-item__extend.content-dense:after {-webkit-transform: translateY(0);transform: translateY(0)}
.card__content-item__extend:after {content: "";position: absolute;bottom: 0;left: 0;right: 0;-webkit-transform: translateY(100%);transform: translateY(100%);height: 1.5em;background: 0 0;background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 100%);transition: -webkit-transform ease-in-out .4s;transition: transform ease-in-out .4s;transition: transform ease-in-out .4s, -webkit-transform ease-in-out .4s}
.card__content-item__extend__toggle {align-self: center;background-color: transparent;display: none}
.card__content-item__extend__toggle.button, .card__content-item__extend__toggle.button:active, .card__content-item__extend__toggle.button:focus, .card__content-item__extend__toggle.button:hover {background-color: transparent;box-shadow: unset}
.card__content-item__extend__toggle + .card-footer {margin-top: 0}
.card__content-item__extend__toggle.listen-extend {display: inline-block}
.card__content-item__extend__toggle.listen-extend .less {display: none}
.card__content-item__extend__toggle.listen-extend.show-extend .less {display: inline-block}
.card__content-item__extend__toggle.listen-extend.show-extend .more {display: none}
.card-footer {display: flex;flex-direction: row;align-items: center;justify-content: space-between;margin: 1rem -1.5rem -1.5rem;padding: .8rem 1.5rem;border-top: 1px solid var(--arg-card-border-color, rgba(212, 212, 218, .8))}
.card-footer__metadata {margin: .25rem 0;color: var(--arg-card-metadata-color, #777)}
.card-footer__action-buttons {flex: 1 1 50%;display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-start}
.card-footer__action-buttons .argue-chip-set, .card-footer__action-buttons .drop-menu {margin: -.35rem .5rem -.35rem -.5rem}
.card-footer__action-icons {flex: 1 1 50%;display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-end}
.card-footer__action-icons .argue-chip-set, .card-footer__action-icons .drop-menu {margin: -.35rem -.5rem -.35rem .5rem}
