.gamify--item-list h3 {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: .0125em;
  border-bottom: 1px solid rgba(212,212,218,.8);
  margin: 1.5rem 0 0;
}

.gamify--item-list ol.gamify--list {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: 'Courier New', monospace;
}

.gamify--item-list ol.gamify--list li {
  margin: 0 0 0.25em 2.5em;
}

.card.alert .argue-icon {
  position: relative;
}
.card.alert .card-header__icon::before {
  background-color: rgba(255,255,255,.4);
}

.card.alert--type-note .card-header {
  background-color: #d5ffed;
  color: #378f45;
}

.card.alert--type-warning .card-header {
  background-color: #fdf7ce;
  color: #a98300;
}

.card.alert--type-error .card-header {
  background-color: #ffd8d8;
  color: #e34f4f;
}

.card.alert--type-reward .card-header {
  background-color: #c4def5;
  color: #ff70fb;
}

.card.alert--type-critical .card-header {
  background-color: #111;
  color: #ffea00;
}

/*
--messages--status-color: #42a877;
--messages--warning-color: #e0ac00;
--messages--error-color: #e34f4f;
*/

.gamify-alerts .views-table caption a {
  color: #000;
  line-height: 2em;
}
